[submodule "mdegraphlib"]
	path = mdegraphlib
	url = ./mdegraphlib
[submodule "mdegraphlib-gql"]
	path = mdegraphlib-gql
	url = ./mdegraphlib-gql
[submodule "mdegraphlib-emf"]
	path = mdegraphlib-emf
	url = ./mdegraphlib-emf
